<div class="container">
<div class="banner">
  <%= link_to "Wikinimous", articles_path %> <br>
  
</div>
 
  <h1><%= @article.title %></h1>
  <%= link_to edit_article_path do %>
    <i class="fas fa-pencil-alt"></i>
  <% end %>
  <%= link_to article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="fa fa-trash"></i> 
  <% end %>
  <div class="article-wraper"> 
    <p><%= @article.content %></p>
  </div>
 
 
</div>